.search {
  position: relative;
  align-self: stretch;

  &__input {
    min-height: 46px;
    width: 100%;
    border-radius: 100px;
    border: 1px solid var(--color-gray-200);
    padding: 8px 45px 8px;
    font-size: 16px;

    &--md {
      padding: 8px 24px;
    }

    &:hover,
    &:focus {
      background-color: #fff;
      box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
      border: none;
    }
  }

  &__btn {
    position: absolute;
    height: 100%;
    width: 44px;
    display: grid;
    place-items: center;
    border: none;
    border-radius: 100px 0 0 100px;
    background-color: transparent;

    &--search {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      padding-left: 8px;
      cursor: default;

      svg {
        width: 20px;
        height: 20px;
        fill: var(--color-gray-300);
      }
    }

    &--voice {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      border-radius: 0 100px 100px 0;
      padding-right: 8px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &--md {
    width: 540px;
    max-width: 100%;

    .search__btn {
      &--search {
        left: auto;
        right: 0;
        padding-left: 0;
        padding-right: 13px;
        cursor: pointer;

        svg {
          width: 24px;
          height: 24px;
          fill: var(--color-blue-500);
        }
      }

      &--voice {
        right: 44px;
        padding-right: 0;
      }
    }
  }
}
